<div class="login-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="well no-padding">
                <form action="javascript:void(0);" id="login-form" class="smart-form client-formnovalidate=" novalidate
                ">
                <header>
                    Sign In
                </header
                <fieldset>
                    <section>
                        <label class="label">Login Name</label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="name" name="name">
                            <b class="tooltip tooltip-top-right"><i
                                    class="fa fa-user txt-coloteal"></i>请输入您的用户名</b></label>
                    </section
                    <section>
                        <label class="label">Password</label>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-coloteal"></i>请输入您的密码</b>
                        </label>
                    </section>
                </fieldset>
                <footer class="login-footer">
                    <button type="submit" class="btn btn-primary" id="login-button">
                        Sign in
                    </button>
                </footer>
                </form>
            </div>
        </div>
    </div>
</div>