<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>NTS 后台</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/bootstrap-editable.css">
    <link rel="stylesheet" type="text/css" media="screen" href="font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="spinner.css">
    <link rel="stylesheet" type="text/css" media="screen" href="index.css">
</head>
<body class="desktop-detected fixed-ribbon fixed-navigation smart-style-3">
<div id="content"></div>
<script src="jquery/jquery.js"></script>
<script src="jquery/jquery-ui.min.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>
<script src="bootstrap/bootstrap-editable.js"></script>
<script src="bootstrap/bootstrap-treeview.min.js"></script>
<script src="lib/handlebars.js"></script>
<script src="lib/scrat.js"></script>
<script src="index.js"></script>
</body>
</html>