<div role="content">
    <div class="widget-body">
        <form class="form-horizontal" id="add-contacts-{{envId}}">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label">姓名:</label>
                    <div class="col-md-6">
                        <input id="contact-name" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">邮箱:</label>
                    <div class="col-md-6">
                        <input id="contact-address" class="form-control" type="text">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>