.nts-dash .project-title {
    font-size: 30px;
    color: #2c3e50;
}

.nts-dash .envis {
    margin-left: 10px;
}

.nts-dash .contacts {
    margin-top: 50px;
}

.nts-dash .envis .package-list {
    width: 500px;
}

.nts-dash .package-upload {
    margin: 10px 0 0 10px;
}

.nts-dash .package-upload span {
    margin-right: 32px;
}

.nts-dash .package-upload input {
    margin-right: 10px;
}

.nts-dash .setup {
    padding-top: 15px;
}

.setup .form-group label.col-md-2.control-label {
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 6px;
    width: 71px;
}

.setup .form-group .form-control {
    color: #808080;
}

.setup .form-group .col-md-4 {
    /*width: 602px;*/
}