.conf .smart-form.kv .row .col.col-4 {
    margin-bottom: 0px;
}

.conf .smart-form.kv .row .col.col-4.value {
    padding-left: 0px;
}

.conf .smart-form .row .col label.input input {
    color: #808080;
    font-size: 14px;
}

.conf .smart-form .row .col label.input h2 {
    margin-bottom: 0px;
}

.conf .smart-form .fa-trash-o:before {
    font-size: larger;
}

.conf .smart-form i.fa.fa-trash-o.fa-lg {
    margin-top: 7px;
    padding-right: 8px;
}

.conf .smart-form i.fa.fa-save {
    font-size: large;
}

.conf {
    -webkit-user-select: initial;
}
