<div class="nts-logger-btn">
    <a href="javascript:void(0);" class="btn btn-info logger-to-end"><i class="fa fa-arrow-circle-down"></i> 至底</a>
</div>
<div class="jarviswidget nts-logger">
    <div class="logger-list-tree">
    </div>
    <div class="logger-content">
    </div>
</div>