.nts-logger-btn {
    margin-bottom: 40px;
}

a.btn.btn-info.logger-to-end {
    float: right;
}

.nts-logger {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nts-logger .logger-list-tree {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 20%;
    float: left;
    -webkit-user-select: initial;
}

.nts-logger .logger-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 10px;
    width: 80%;
    float: left;
    -webkit-user-select: initial;
}

.logger-list-tree.treeview .list-group {
    margin-bottom: 0px;
}

.logger-list-tree.treeview .list-group li {
    word-break: break-all;
}